.fade-enter-active, .fade-leave-active {
    transition: opacity .7s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
.faderight-enter-active, .faderight-leave-active {
    transition: all .7s;
    transform: translateX(0px);
}
.faderight-enter, .faderight-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateX(-50px);
}
.fadeleft-enter-active, .fadeleft-leave-active {
    transition: all .7s;
    transform: translateX(0px);
}
.fadeleft-enter, .fadeleft-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateX(50px);
}
.fadeup-enter-active, .fadeup-leave-active {
    transition: all .7s;
    transform: translateY(0px);
}
.fadeup-enter, .fadeup-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(50px);
}

